{% extends 'blog/base.html' %}
{% load staticfiles %}


                    {% block content %}
                        {% for record in records %}
                            <div class="post">
                                <div class="date">
                                    <p>published: {{ record.published_date }}</p>
                                </div>
                                <h3>Church name: <a href="{% url 'post_detail' pk=record.pk %}">{{ record.title }}</a></h3>
                                <p><h3>Church address:</h3> {{ record.text|linebreaksbr }}</p>
                            </div>
                        {% endfor %}
                    {% endblock %}
